<!DOCTYPE html>
<html lang="ko">
<head><title>BranewCar</title>
<link rel="stylesheet" href="css\layout.css">
<meta charset="utf-8">
</head>

<body>
    <div class="center">
        <header>
            <h1 blass="logo"><img src="./images/logo.png"></h1>
        </header>
        <section>
            <nav>
                <ul>
                    <li><a href="#">브랜드 이슈</a></li>
                    <li><a href="#">프리뷰 모델</a></li>
                    <li><a href="#">디테일 리뷰</a></li>
                    <li><a href="#">프론티어 마켓</a></li>
                    <li><a href="#">구매 가이드</a></li>
                    <li><a href="#">커뮤니티</a></li>
                </ul>

            </nav>
          <article>
            <div class="row">
              <div class="photo left">
                <img src="images/maincontent_01.gif" alt="">
                <dl>
                  <dt>[시승기]</dt>
                  <dd>THE PHEVest, 볼보 XC90 T8 엑설런스 & BMW i8</dd>
                </dl>
              </div>
              <div class="right">
                <div class="photo">
                  <img src="images/right001.jpg" alt="">
                  <dl>
                    <dt>[시승기]</dt>
                    <dd>THE PHEVest, 볼보 XC90 T8 엑설런스 & BMW i8</dd>
                  </dl>
                </div>
                <div class="photo">
                  <img src="images/right002.jpg" alt="">
                  <dl>
                    <dt>[시승기]</dt>
                    <dd>THE PHEVest, 볼보 XC90 T8 엑설런스 & BMW i8</dd>
                  </dl>
                </div>
              </div>
            </div>
            <!-- row end -->
            <div class="row">
              <ul class="photo2">
                <li>
                  <img src="./images/content_01.png">
                  <p>SUV들의 거센 진격,<br>2017 광저우모터쇼</p>
                </li>
                <li>
                  <img src="./images/content_02.png">
                  <p>미국 출신의 마지막 <br>F1 챔피언은?</p>
                </li>
                <li>
                  <img src="./images/content_03.png">
                  <p>한여름 차안의 온도는 <br>얼마나 올라갈까?</p>
                </li>
                <li>
                  <img src="./images/content_04.png">
                  <p>수소연료 대형트럭 <br>‘니콜라 모터’ 주목</p>
                </li>
              </ul>
            </div>
            <!-- row end -->
            <div class="row">
              <ul class="photo3">
                <li>
                  <img src="./images/moving_content_01.png">
                  <dl>
                    <dt>좌측 동영상 콘텐츠 제목1</dt>
                    <dd>아싸 새로운 자동차가 나와부러쓰야, 허벌나게 좋은거 시승기 한번 구경해봐라잉</dd>
                  </dl>
                </li>
                <li>
                  <img src="./images/moving_content_02.png">
                  <dl>
                    <dt>좌측 동영상 콘텐츠 제목2</dt>
                    <dd>아싸 새로운 자동차가 나와부러쓰야, 허벌나게 좋은거 시승기 한번 구경해봐라잉</dd>
                  </dl>
                </li>
              </ul>
            </div>

            <!-- <div class="box1">
              <div class="main1">[시승기]<br>
              THE PHEVest, 볼보 XC90 T8 엑설런스 & BMW i8</div>
            </div>
            <div class="box2">
              <div class="main2">[News]<br>
              WRC-제 12전 영국밸리</div><br>
              <div class="main3">[News]<br>
              아우디 코리아, “더 뉴 아우디 R8 V10 플러스 쿠페” 출시
              <br>
              </div>
              <ul class="box3">
                <li class="round1"><img src="./images/content_01.png"><br>
                SUV들의 거센 진격,<br>2017 광저우모터쇼</li>
                <li class="round2"><img src="./images/content_02.png"><br>
                미국 출신의 마지막 <br>F1 챔피언은?</li>
                <li class="round3"><img src="./images/content_03.png"><br>
                한여름 차안의 온도는 <br>얼마나 올라갈까?</li>
                <li class="round4"><img src="./images/content_04.png"><br>
                수소연료 대형트럭 <br>‘니콜라 모터’ 주목</li>
              </ul>
              <hr><hr>
              <div class="box4">
                <li class="movie1"><img src="./images/moving_content_01.png"></li>
                <ul><strong>좌측 동영상 콘텐츠 제목1</strong></ul>
                <ul>아싸 새로운 자동차가 나와부러쓰야, 허벌나게 좋은거 시승기 한번 구경해봐라잉</ul>
              </div>
              <div class="box5">
                <li class="movie2"><img src="./images/moving_content_02.png"></li>
                <ul><strong>좌측 동영상 콘텐츠 제목2</strong></ul>
                <ul>아싸 새로운 자동차가 나와부러쓰야, 허벌나게 좋은거 시승기 한번 구경해봐라잉</ul>
              </div>-->

          </article>


        </section>
        <footer>
            Copyright &copy; All rights reserved.
        </footer>
</body>
</html>
