@charset "UTF-8";
    /* 초기설정 */
    *{margin:0;padding:0;}
    li{list-style-type:none;}
    a{text-decoration: none;color:#fff;}
    body{
        background:#6f866c;
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover; /* 백그라운드의 사이즈 지정 */
        background-attachment: fixed;
    }

    .center{width:1000px; margin:0 auto;}
    header{
      background: rgba(148, 145, 145, 0.8);
      background-image: url("../images/Topimg.jpg");
      background-repeat: no-repeat;
    }

    header h1{text-align: right;padding:30px 0;}

    /* 본문 */
    section{
      background:rgba(255, 255, 255, 0.6); overflow: hidden;
    }

    nav{
      float: left;width:200px;
    background-color: rgb(0, 0, 0);
    }
    nav li a{display:block; border-bottom:2px solid #fff; padding:20px;}
    nav li a:hover{background: #cc2929;}

    article{float: left;width:800px;}
    article .wrap{padding:20px;}


    .row{overflow: hidden;}
    .row > div{float: left;}
    .row .left{width:65%;}
    .row .right{width:35%;}
    .row .photo{position: relative;}
    .row .photo img{width:100%;}
    .row .photo.left img{height: 356px;}
    .row .photo dl{position: absolute; bottom:0px; padding:5px;}
    .row .photo dl dt{color:#fff;}
    .row .photo dl dd{color:rgb(201, 201, 201);}

    .row .photo2{background: #97999b;padding: 20px 0;overflow: hidden;}
    .row .photo2 li{float: left;width: 25%;text-align: center;}
    .row .photo2 li img{}
    .row .photo2 li p{}

    .row .photo3{overflow: hidden;}
    .row .photo3 li {float: left; width: 50%;}
    .row .photo3 li img{float: left; padding-right: 10px;}
    .row .photo3 li dl{font-size: 14px;}
    .row .photo3 li dl dt{font-weight: bold;}
    .row .photo3 li dl dd{}

    /* 바닥글 */
    footer{clear:left; background:rgba(145, 145, 145, 0.8);color:#ffffff;text-align: center;padding:30px 0;}
